body{
    margin: 0;
    background-color: white;
}

#header-topo{
    width: 100%;
    height: 100px;
    text-align: center;
}

#header-topo h1{
    font-size: 42px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

#div-nav{
    display: flex;
    justify-content: center;
}

#nav-penta{
    border: 1px solid;
    width: 80%;
    background-color: white;
    padding-left: 10px;

}

#nav-penta li{
    display: block;/*retira as bolinhas do menu li*/
}

#nav-penta a{
    display: block;/*add area em volta do texto*/
    border: 1px solid;/*add borda*/
    cursor: pointer;/*add area clicavel*/
    text-decoration: none;
    width: 200px;
    height: 28px;
    text-align: center;
}

